extends main
block content
    .tabs.absolute.inset-x-0.-top-8.flex.justify-center.z-5
        a.tab.tab-lifted(href="/about") Summary
        a.tab.tab-lifted.tab-active(href="/about/certifications") Certifications
    .flex.justify-center.mt-40.pb-96.lg_pb-0.text-4xl.lg_text-base.lg_mt-25
        .mockup-code.flex.flex-col.gap-8.lg_gap-4.max-w-2xl.px-40.lg_pl-5.lg_gap-1.lg_max-w-full
            pre.text-success(data-prefix='').whitespace-pre-wrap
                code.pl-16 I have earned the following Certifications:

            pre
                code
            pre.text-warning(data-prefix="2022-12-03").whitespace-pre-wrap
                a(href="https://www.freecodecamp.org/certification/CherryKitten/data-analysis-with-python-v7", target="_blank")
                    code.pl-16 FreeCodeCamp Data Analysis with Python

            pre.text-accent(data-prefix='2022-11-27').whitespace-pre-wrap
                a(href="https://www.freecodecamp.org/certification/CherryKitten/scientific-computing-with-python-v7" target="_blank")
                    code.pl-16 FreeCodeCamp Scientific Computing with Python

            pre.text-error(data-prefix='2022-11-19').whitespace-pre-wrap
                a(href="https://www.freecodecamp.org/certification/CherryKitten/quality-assurance-v7" target="_blank")
                    code.pl-16 FreeCodeCamp Quality Assurance

            pre.text-secondary(data-prefix='2022-11-05').whitespace-pre-wrap
                a(href="https://www.freecodecamp.org/certification/CherryKitten/data-visualization" target="_blank")
                    code.pl-16 FreeCodeCamp Data Visualization

            pre.text-success(data-prefix='2022-10-25').whitespace-pre-wrap
                a(href="https://www.freecodecamp.org/certification/CherryKitten/back-end-development-and-apis" target="_blank")
                    code.pl-16 FreeCodeCamp Back End Development and APIs

            pre.text-warning(data-prefix='2022-10-21').whitespace-pre-wrap
                a(href="https://www.freecodecamp.org/certification/CherryKitten/front-end-development-libraries" target="_blank")
                    code.pl-16 FreeCodeCamp Front End Development Libraries

            pre.text-accent(data-prefix='2022-10-14').whitespace-pre-wrap
                a(href="https://www.freecodecamp.org/certification/CherryKitten/javascript-algorithms-and-data-structures" target="_blank")
                    code.pl-16 FreeCodeCamp JavaScript Algorithms and Data Structures

            pre.text-error(data-prefix='2022-10-08').whitespace-pre-wrap
                a(href="https://www.freecodecamp.org/certification/CherryKitten/responsive-web-design" target="_blank")
                    code.pl-16 FreeCodeCamp Responsive Web Design
