extends main
block content
    .flex.justify-center.min-h-screen
        .prose.py-40.lg_py-20.text-3xl.lg_text-base
            h2 Impressum
            p Because I live in germany, I'm legally obligated to have this on here 🙄
            p Angaben gem&auml;&szlig; &sect; 5 TMG
            p
                | Samantha Yilmaz
                br
                | c/o Postflex #3050
                br
                | Emsdettener Str. 10
                br
                | 48268 Greven
                br

            p
                strong Vertreten durch:
                br
                | Samantha Yilmaz
                br
            p
                strong Kontakt:
                br
                | E-Mail: contact[at]cherrykitten[dot]dev
                br
            p
                strong Verantwortlich f&uuml;r den Inhalt nach &sect; 55 Abs. 2 RStV:
                br
                | Samantha Yilmaz