nav {
  background-color: var(--background-secondary);
  position: sticky;
  top: 0;
}

nav h1 {
  display: inline-block;
  margin: 0;
  padding: 18px;
  text-align: left;
  float: left;
}

li {
  color: var(--text);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

ul li {
  display: inline-block;
  cursor: pointer;
  padding: 6px;
}

ul li a {
  text-transform: uppercase;
  color: var(--text);
  text-decoration: none;
  display: block;
  padding: 16px;
}

ul li:hover {
  background: var(--love);
}

ul li i {
  color: var(--pine);
  float: left;
  padding-right: 10px;
  padding-top: 0;
}
