.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  width: 50%;
  margin: 0;
  padding: 0;
}
fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  max-width: 100%;
}

input,
textarea,
button {
  background-color: var(--background-tertiary);
  color: var(--text);
  padding: 5px;
  margin: 5px;
}

textarea {
  resize: none;
}
.social {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.social i {
  color: var(--pine);
  font-size: 3rem;
}

.matrix-logo {
  width: 92px;
  height: 48px;
  display: inline-block;

  mask: url("/img/matrix.svg") no-repeat;
  mask-position: center;

  background-color: var(--pine);
}
